/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Encode Sans Expanded', sans-serif;
}
.uc {
 font-stretch:ultra-condensed;
}
.ec {
  font-stretch:extra-condensed;
}
.c {
  font-stretch:condensed;
}
.sc {
  font-stretch:semi-condensed;
}
.se {
  font-stretch:semi-expanded;
}
.e {
  font-stretch:expanded;
}
.ee {
  font-stretch:extra-expanded;
}
.ue {
  font-stretch:ultra-expanded;
}
.container-350 {
  width: 400px;
  background-color:lightgoldenrodyellow;
}
.container-350 p {
  text-align:justify;
  text-align-last: center;
}