* {
    box-sizing: border-box;
}
.parent-container {
    border: 1px solid red;
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
}
.container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}
.block {
    width: 75px;
    height: 75px;
    background-color: hsl(31, 88%, 63%, 1);
    border: 1px solid black;
}
.pos-1 {
  position: relative;
}
.pos-3 {
  position: absolute;
  top: 20px;
  left: 20px;
}
